@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';

body{
    background-color: #d3d3d3;

}

 header{
    background-color: #333333;
    opacity: 0.9;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;

 }


a:link, a:visited, a:hover, a:active {
  color: black;
}


.header-link a {
    color: white;
}

.header-link-right{
    display: grid;
    align-items: center;
}

footer{

  width: 90%;
  margin: 0 auto;
  padding-bottom: 50px;

  color: white;


}

.footer-contents{
    color: white;
}