@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';

 header{
    background-color: #333333;
    opacity: 0.9;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;

 }


a:link, a:visited, a:hover, a:active {
  color: black;
}


.header-link a {
    color: white;
}

.header-link-right{
    display: grid;
    align-items: center;
}