// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.top-wrapper{
  position: relative;
  width: 100%;
  height: 700px;
  background-image: image-url("poker-1564042_1920.jpg");
}
.contents{
  position: absolute;
  bottom: 100px;
  left: 50px;
}

.contents h1{
  line-height: 2;
  color: rgba(255, 255, 255, 0.8);
}

.contents p{
  line-height: 2;
  color: rgba(255, 255, 255, 0.8);
}